{% extends "app1/base.html" %}

{% block title %}Contraseña Cambiada{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card shadow-lg">
                 <div class="card-header bg-success text-white text-center">
                    <h3 class="mb-0">¡Éxito!</h3>
                </div>
                <div class="card-body p-4 text-center">
                    <p class="lead">Tu contraseña ha sido cambiada correctamente.</p>
                    <i class="bi bi-check-circle-fill text-success display-4 my-3"></i>
                    <div class="mt-4">
                        <a href="{% url 'app1:home' %}" class="btn btn-outline-secondary me-2">Ir a Inicio</a>
                        <a href="{% url 'app1:edit_profile' %}" class="btn btn-primary">Volver a mi Perfil</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}